<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lime.wazza.org.kca_lime">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_entry"></activity>
        <activity
            android:name=".ImgListView"
            android:label="@string/title_activity_entry"></activity>
        <activity
            android:name=".GridMenu"
            android:label="@string/title_activity_grid_menu"></activity>
        <activity
            android:name=".UnitsViewer"
            android:label="@string/title_activity_units_viewer"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
